* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
body {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
}
.container {
  width: 80%;
  height: auto;
}
/*Nav-Bar*/
.wrapper{
  display: none;
}
.nav {
  margin-top: 20px;
  width: 100%;
  height: auto;
}
.container .nav #navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.nav #navbar #login {
  float: right;
}
.container .nav ul#navbar li {
  float: left;
}
.container .nav ul#navbar li a {
  display: block;
  font-weight: bold;
  padding: 8px 16px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 2px solid crimson;
  transition: all 0.5s ease;
}
.container .nav ul#navbar li a:hover {
  color: crimson;
}
.container .nav ul#navbar #logo {
  border-bottom: none;
  font-size: 30px;
  color: crimson;
}
.container .nav ul#navbar #logina {
  border-bottom: none;
}
.container .nav ul#navbar #logina i {
  font-size: 25px;
  color: crimson;
  font-weight: 500;
  margin-right: 10px;
}

/* Search bar */
#searchbar {
  width: 100%;
  margin-top: 20px;
}
#searchbar input {
  padding: 6px;
  width: calc(99% - 59px);
  margin-top: 8px;
  font-size: 17px;
  border: none;
  height: 50px;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

#searchbar button {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  border: none;
  text-align: center;
  cursor: pointer;
}

#searchbar button:hover {
  background: #ccc;
}
/* Follow on */
#follow-on {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}
#left-box,
#right-box {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
#right-box {
  flex-direction: column;
}
#right-box h2 {
  font-size: 20px;
  font-weight: 500;
  color: crimson;
}
#right-box #iconfollow i {
  font-size: 25px;
  margin-right: 10px;
  color: green;
}
#right-box #iconfollow i:hover {
  color: white;
}
#left-box img {
  border: 2px solid green;
  border-radius: 10px;
  width: 300px;
}
/* Grid */

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 31%; /* IE10 */
  flex: 31%;
  max-width: 31%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gifs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gif {
  height: 35vh;
  margin: 10px;
}
.gif img {
  width: 100%;
  margin: 5px;
  height: 100%;
}

.gifsbox img{
  width:275px;
  height:260px;
  margin:10px;
  }
.gifsbox{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  width: 100%;
  }

  #search_gifs{
    visibility: hidden;
  }
/* Footer */
footer {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  background: black;
  padding-top: 10px;
}
.footer-content {
  display: flex;
  justify-content: center;
}
.footer-content p {
  border-radius: 25px;
  text-align: center;
  color: green;
  font-size: 20px;
  margin: 10px;
  position: relative;
}
.footer-content p i {
  font-size: 20px;
}
.footer-content p::before {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  background: white;
  top: -10px;
  transition: all 0.3s;
}

.footer-content p::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  position: absolute;
  right: 0;
  background: white;
  bottom: -10px;
  transition: all 0.3s;
}
.footer-content p:hover::after,
.footer-content p:hover::before {
  width: 100%;
}
hr {
  opacity: 0.2;
}
/* heading */
#trendheading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#trendheading h2 {
  font-size: 30px;
  font-weight: 500;
}
#trendheading i {
  font-size: 25px;
  font-weight: 500;
  margin-right: 5px;
}
#trendheading a {
  color: crimson;
  transition: all 0.5s ease;
  text-decoration: none;
}
#trendheading a:hover {
  color: white;
}
  /*Grid*/
  @media(max-width:1110px){
    .gifs{
      grid-template-columns:1fr 1fr 1fr;
    }
  }
  @media(max-width:880px){
    .gifs{
      grid-template-columns:1fr 1fr;
    }
  }
  @media(max-width:620px){
    .gifs{
      grid-template-columns:1fr;
    }
  }
  /*Search bar*/
  @media(max-width:900px){
    #searchbar{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #searchbar input{
      width:500px;
    }
    #searchbar button{
    }
  }
  @media(max-width:726px){
    #searchbar input{
      width:350px;
    }
  }
  @media(max-width:600px){
    #searchbar button{
      display:none;
    }
    #searchbar input{
      width: 100%;
    }
  }
  /*Follow on*/
  @media(max-width:865px){
    #right-box h2{
      text-align: center;
    }
  }
  @media(max-width:640px){
    #right-box,#left-box{
      width: 100%;
      height: auto;
    }
    #follow-on{
      flex-direction: column;
    }
  }
  /*heading*/
  @media(max-width:400px){
  #trendheading h2{
    font-size: 20px;
  }
  }
  /*Dropdown nav*/
@media(max-width:1185px){
  .nav{
    display: none;
  }
.wrapper{
  display: block;
  padding-top: 20px;
  width: 100%;
  margin:0 auto;
  color: white;
}
.logo2{
  float: left;
}
.logo2 h2 a{
  color: crimson;
  text-decoration: none;
  font-size: 30px;
}
.menubutn{
  color: crimson;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}
.rightmenu{
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown{
  display:none;
  position: absolute;
  right: 10px;
  background-color: crimson;
  color: white;
  min-width: 158px;
  z-index: 1;
}
.dropdown a:hover{
  border-bottom: 2px solid white;
}
.rightmenu:hover .dropdown{
  display: block;
}
.menubutn{
  background-color: black;
  color: white;
  border: none;
  outline: none;
}
.menubutn i{
  color: crimson;
  font-size: 25px;
}
.menubutn a{
  font-size: 25px;
  color: white;
  text-decoration: none;
}
.menubutn a i{
  margin-right: 10px;
}
.dropdown div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-direction: column;
  margin: 5px;
}
.dropdown div a{
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.fa-ellipsis-v{
  margin-right: 0;
  padding-right: 0;
}
}